DATABASE_URL="postgresql://koemment:changeme@localhost:5432/koemment?schema=public"
PORT=1000

BETTER_AUTH_SECRET=changeme
BETTER_AUTH_URL=http://localhost:1000

GITHUB_CLIENT_ID=changeme
GITHUB_CLIENT_SECRET=changeme

GOOGLE_CLIENT_ID=changeme
GOOGLE_CLIENT_SECRET=changeme